<section id="posts">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card card-body">
          <h4 class="text-center">Cart</h4>
          {{#if items}}
          <table class="table mt-2">
            <thead class="thead-dark">
              <tr>
                <th>Preview</th>
                <th>Name</th>
                <th>Price</th>
                <th></th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              {{#each items}}
              <tr>
                <td><img src="{{itemImage}}" alt="" class="img-fluid" width="150" height="150"></td>
                <td>{{itemName}}</td>
                <td>{{itemPrice}}</td>
                <td>
                  <a href="/items/show/{{id}}" class="btn btn-secondary">
                    <i class="fa fa-angle-double-right"></i> Show
                  </a>
                </td>
                <td>
                  <form action="/users/cart/{{id}}?_method=DELETE" method="post" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger"><i class="fa fa-remove"></i> Delete</button>
                  </form>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          {{else}}
          <p>No items found.</p>
          {{/if}}

          {{#if items}}
          <form action="/users/orders" method="post" id="order-form">
            <input type="hidden" name="items" value="{{items}}">
            <button type="submit" class="btn btn-block btn-danger">Place Order</button>
          </form>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</section>