<section id="posts">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card card-body">
          <h4 class="text-center">Orders</h4>
          {{!-- {{#each orders}}
          <h2>{{formatDate date 'MMMM Do YYYY'}}</h2> --}}

          <table class="table mt-2">
            <thead class="thead-dark">
              <tr>
                <th>Preview</th>
                <th>Name</th>
                <th>Price</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              {{#each items}}
              <tr>
                <td><img src="{{itemImage}}" alt="" class="img-fluid" width="150" height="150"></td>
                <td>{{itemName}}</td>
                <td>{{itemPrice}}</td>
                <td>
                  <a href="/items/show/{{id}}" class="btn btn-secondary">
                    <i class="fa fa-angle-double-right"></i> Show
                  </a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>

          {{!-- {{else}}
          <p>No orders found.</p>

          {{/each}} --}}
        </div>
      </div>
    </div>
  </div>
</section>