<div class="card card-body">
  <h3 class="text-center">Edit Item</h3>

  <form action="/items/{{item.id}}?_method=PUT" method="post">
    <input type="hidden" name="_method" value="PUT">

    {{!-- Item Name --}}
    <div class="form-group">
      <label for="itemName">Item Name</label>
      <input class="form-control" type="text" id="itemName" value="{{item.itemName}}">
    </div>

    {{!-- Item Price --}}
    <div class="form-group">
      <label for="itemPrice">Price</label>
      <input class="form-control" type="text" id="itemPrice" value="{{item.itemPrice}}">
    </div>

    {{!-- Item Image --}}
    <div class="form-group">
      <label for="itemImage">Photo Link</label>
      <input class="form-control" type="text" id="itemImage" value="{{item.itemImage}}">
    </div>

    {{!-- Item Description --}}
    <div class="form-group">
      <label for="itemDescription">Description</label>
      <textarea class="form-control" name="itemDescription" rows="3">{{item.itemDescription}}</textarea>
    </div>

  </form>
</div>