<div class="row">
  <div class="col-md-8">

    <div class="card">
      <img class="card-img-top img-fluid" src="{{item.itemImage}}" alt="">
      <div class="card-body">
        <h1 class="card-title">{{item.itemName}}</h4>
          <h3 class="card-text">${{item.itemPrice}}</h6>
            <p class="card-text">{{item.itemDescription}}</p>

            {{#if user}}
            <form action="/users/cart" method="post">
              <input type="hidden" name="item" value="{{item.id}}">
              <input type="submit" value="Add to Cart" class="btn btn-block btn-primary">
            </form>
            {{/if}}
      </div>
    </div>


    <div class="card card-body mt-3">
      <h4 class="text-center">Reviews</h4>
      {{#if user}}
      <!--New Comment Form-->
      <form action="/items/review/{{item.id}}" method="post">
        <div class="input-field">
          <textarea class="form-control" name="reviewBody"></textarea>
        </div>
        <input type="submit" value="Add New Review" class="btn btn-primary btn-block mt-3">
      </form>
      {{/if}}
    </div>

    {{#each item.reviews}}
    <div class="card">
      <div class="card-body">
        <h5>{{reviewBody}}</h5>
        <div class="chip mt-2">
          <img src="{{reviewUser.image}}" alt="Person" width="96" height="96">
          {{reviewUser.firstName}} {{reviewUser.lastName}}
        </div>
      </div>
    </div>
    {{/each}}

  </div>


  <div class="col-md-4">

    <div class="card text-center">
      <div class="card-body">
        <h2>{{item.user.firstName}} {{item.user.lastName}}</h2>
        <img src="{{item.user.image}}" alt="" class="card-img-top img-fluid">
      </div>
      <div class="card-footer">
        <a href="/items/user/{{item.user.id}}" class="">More From {{item.user.firstName}}</a>
      </div>
    </div>

  </div>
</div>